@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}
@mixin list {
    list-style: none;
    padding-left: 0px;
}

html {padding: 0px;}
body {
    font-family: 'Rubik';
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #444444;
}


// styles start

.doctorPage {
    --radius: 2em;
    --main-color: #0e7496;
    background-color: #f4f7fa;
    padding-bottom: 3em;

    &__container {
        max-width: 1160px;
        margin: 0px auto;
    }

    &__top {
        position: relative;
        z-index: 2;
        background-color: #f4f7fa;
        border-radius: 0px 0px var(--radius) var(--radius);
        padding-top: var(--radius);
        padding-bottom: var(--radius);
    }

    .breadcrumbs {
        font-size: 14px;
        margin-bottom: 3em;
        ul {
            @include list();
            @include flex(row, flex-start, center, nowrap);
            li {
                a {
                    color: #4c4c4c;
                    text-decoration: none;
                    transition: color 250ms ease-in;
                    cursor: pointer;
                    &:hover {
                        color: #9e9e9e;
                    }
                    
                }
                &:not(:first-child) {
                    &::before {
                        content: "/";
                        margin: 0px 1em;
                    }
                }
                &:last-child {
                    a {pointer-events: none;}
                }
            }
        }
    }

    &__card {
        background-color: #fff;
        border-radius: var(--radius);
        padding: var(--radius);
        @include flex(row, space-between, flex-start, nowrap);
        gap: var(--radius);
        margin-bottom: 3em;
        &-left {
            width: 50%;
            padding: 2em 1em 0em;
            address {
                font-style: normal;
                font-weight: 500;
                @include flex(row, flex-start, center, nowrap);
                margin-bottom: 1.5rem;
                img {
                    width: 1.5em;
                    margin-right: .5em;
                }
            }

            h1 {
                font-size: 36px;
                font-weight: 400;
                text-align: left;
                margin-top: 0px;
                margin-bottom: 1.5rem;
            }

            h2 {
                font-size: 20px;
                font-weight: 500;
                color: var(--main-color);
                text-align: left;
                margin-top: 0px;
                margin-bottom: 1.5rem;
            }

            p {
                font-weight: 300;
                margin-top: 0px;
                margin-bottom: 1.5rem;
            }
        }
        &-right {
            width: 50%;
            position: relative;
            .doctorPage__play {
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                border: none;
                img {
                    width: 60px;
                }
            }
        }
        &-photo {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 585px;
            object-fit: cover;
            border-radius: var(--radius);
        }
    }

    &__price {
        width: 100%;
        border: 1px solid var(--main-color);
        border-radius: var(--radius);
        @include flex(row, flex-start, stretch, nowrap);
        font-size: 14px;
        overflow: hidden;
        margin-bottom: 3em;
        button {
            background-color: var(--main-color);
            color: #fff;
            border: none;
            font-size: inherit;
            border-radius: var(--radius);
            padding: 1.4em 3em;
        }
        &-info {
            flex: 1;
            font-size: inherit;
            @include flex(column, center, center, nowrap);
            p {
                font-weight: 500;
                font-size: inherit;
                text-align: center;
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 1.35em;
            }
        }
    }

    &__trophies {
        @include flex(row, flex-start, flex-start, wrap);
        font-size: 14px;
        &>div {
            width: 50%;
            @include flex(row, flex-start, center, wrap);
            img {
                height: 40px;
                margin-right: 1em;
            }
            p {
                flex: 1;
                margin: 0px !important;
                font-weight: 500;
            }
        }
    }

    &__collapsible {
        background-color: #fff;
        border: 1px solid #fff;
        margin-bottom: 1em;
        overflow: hidden;
        @include safariFix();
        border: 2px solid #f0f0f0;
        border-radius: var(--radius);
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);
        &-question {
            @include flex(row, space-between, center, nowrap);
            padding: 1.5em 3em;
            p {
                margin: 0px;
            }
        }
        &-btn {
            width: fit-content;
            background-color: transparent;
            border: none;
            padding: 0px;
            margin: 0px;
            @include flex();
            cursor: pointer;
            img {
                width: 2em;
                transform: rotate(0deg);
                transition: transform 250ms ease-in;
            }
        }
        &-answer {
            display: none;
            padding: .5em 3em 1.5em;
            p {
                margin: .5em 0em;
            }
            h6 {
                font-size: 1em;
                margin-top: 2em;
                margin-bottom: .5em;
                font-weight: 500;
                text-align: left;
            }
        }
        &.active {
            .doctorPage__collapsible-btn {
                img {
                    transform: rotate(-180deg);
                }
            }
            .doctorPage__collapsible-answer {
                display: block;
            }
        }
    }

    &__faq {
        margin-bottom: 3em;
    }

    h3 {
        font-size: 38px;
        font-weight: 400;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 1em;
    }

    &__reviews {
        @include flex(row, flex-start, flex-start, wrap);
        gap: 2%;
        div {
            width: 32%;
            img {
                width: 100%;
                border: 1px solid #e4e4e4;
                border-radius: calc(var(--radius)/2);
            }
        }
    }

    &__video {
        position: relative;
        z-index: 1;
        margin-top: -32px;
        background-color: #fff;
        border-radius: 0px 0px var(--radius) var(--radius);
        padding-top: calc(var(--radius)*3);
        padding-bottom: 4em;
        margin-bottom: 3em;
        &-box {
            @include flex(row, flex-start, flex-start, wrap);
            gap: 1%;
            div {
                width: 24%;
                video {
                    width: 100%;
                    height: 470px;
                    object-fit: cover;
                    border-radius: calc(var(--radius)/4);
                }
            }
        }
    }

    &__sertificates {
        @include flex(row, flex-start, flex-start, wrap);
        gap: 2%;
        div {
            width: 32%;
            img {
                width: 100%;
            }
        }
    }
}

// styles end